@mixin Transition($trans) {
    box-shadow: $trans;
    color: #FCF1CA;
}
@mixin layout($padding, $shadow) {
    box-shadow: $shadow;
    transition: all 0.5s ease-in;
    padding: $padding;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
}
.menu{
        a{
            @include layout(6px, 0px 0px 0px black);
            text-decoration: none;
            font-size: 20px;
            color: white;
            margin: 5px;
            &:hover{
                @include Transition(0px -2px 2px #FCF1CA);
            }
        }
        .logo{
                width: 50px;
                height: 50px;
                position: relative;
                right: 50px;
                cursor: pointer
            }
        .dropdown{
                width: 50px;
                height: 50px;
                position: relative;
                left: 50px;
                border-radius: 100%;
                cursor: pointer
            }    
        @include layout(16px, 0px 2px 2px #AFA8BA);
        border-bottom: 1px solid;
        border-color: #FBF8FF;
        width: 100%;
        position: sticky;
        top: 0;
        left: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
        background-color: teal;
        &:hover{
            @include Transition(0px 3px 6px #AFA8BA);
        }
    }
.title{
    width: 100%;
    text-align: center;
}    
.story{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.react{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 300px;
    position: sticky;
    top: 12%;
    img{ 
        @include layout(6px, 0px 0px 0px #AFA8BA);
        width: 30px;
        margin: 10px;
        cursor: pointer;
        opacity: 0.7;
        &:hover{
            opacity: 1;
        }
    }
}
.words{
    width: 60%;
    img{
        width: 100%;
        height: 500px;
    }
    p{
        font-size: 18px;
        line-height: 30px;
    }
}
